@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  color: #222;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.bg {
  background: url("https://images.unsplash.com/photo-1556742044-3c52d6e88c62?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(30px);
  display: flex;
}

.loading-text {
  font-size: 50px;
  color: #fff;
}
